services:
  - type: web
    name: medical_chatbot
    env: python
    region: virginia
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn app_with_pinecone:app --bind 0.0.0.0:$PORT --timeout 300 --workers 1"
    envVars:
      - key: PYTHON_VERSION
        value: "3.10"



