services:
  - type: web
    name: medical_chatbot
    env: python
    region: virginia
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn app_optimized:app --bind 0.0.0.0:$PORT --timeout 300 --workers 1"
    envVars:
      - key: PYTHON_VERSION
        value: "3.10"
      - key: PINECONE_API_KEY
        sync: false
      - key: HF_TOKEN
        sync: false
      - key: GROQ_API
        sync: false
